*{
    font-family: 'Heebo', sans-serif;
}




.home-ul{
   text-decoration: none;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   padding: 0 40px;
   margin-top: 80px;
}

.home-a{
    color: black;
    font-size: 20px;
    padding: 0 10px;
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;
    list-style: none;
    text-decoration: none;
}

.active{
    color: #FF6464;
}

#leftSection, #rightSection{
    padding: 50px 0;
    width: 50%;
    line-height: 35px;
    letter-spacing: 3px;
}

section{
    padding: 0 40px;
    display: flex;
}

#rightSection img{
    border-radius: 50%;
    float: right;
}

#leftSection button{
    background-color: tomato;
    border: 0;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}